.main{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 400px;
}
.wrapperRight {
  width: 300px;
  margin-left: 30px;
  justify-content: center;
}
.captureBox {
  background-repeat: no-repeat;
  background-size: 500px;
  padding-top: 10px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 70px;
  font-weight: 400;
}
.captureBox p {
  font-size: 14px;
  
}
/* .loginSign{
  width: 10px;
  display: flex;
  justify-content:space-between;
  flex-wrap:nowrap;
  align-items: flex-start;
  margin-left:  400px;
  margin-top: 70px;
  color:#1c5380; */
/* } */
.brand{
  margin-top: 300px;
  justify-content: center;
  display:flex;

}
.style{
  display: flex;
  justify-content: space-between;
}
.para{
  
  justify-content: center;
  margin-right: 200px;
  
}
.iphoneSign{
  display: flex;
  justify-content: space-around;
  width: 300px;
  /* padding-right: 70px;
  padding-left: 15px;
  padding-top: 40px; */
}
.androidSign{
  display: flex;
  justify-content: space-around;
  /* padding-right: 70px;
  padding-left: 15px;
  padding-top: 40px; */
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
}
.login {
  background-image: linear-gradient(#6489a7, #1c5380);
  /* padding: 5px 10px 5px 10px; */
  /* border: #06365f solid 1px; */
  /* border-radius: 3px; */
  text-decoration: none;
  color: lightgray;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.footer {
  padding-right: 150px;
  padding-left: 100px;
}

.footer ul {
  color: #1c5380;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
